<div class="main-container">
  <div class="login-container">
    <h2>Recover password</h2>
    <br />

    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email" />
        <mat-error *ngIf="form.controls.email.hasError('required')">
          This field is required
        </mat-error>
        <mat-error *ngIf="form.controls.email.hasError('email')">
          Invalid email
        </mat-error>
      </mat-form-field>

      <div style="text-align: right;">
        <button
          type="button"
          mat-raised-button
          color="basic"
          style="margin-right: 5px;"
          [routerLink]="['/login']"
        >
          Back
        </button>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="recover()"
        >
          Find User
        </button>
      </div>
    </form>
  </div>
</div>
