<mat-sidenav-container class="side-container">
  <mat-sidenav mode="side" opened style="min-width: 250px;">
    <div class="top-items">
      <div class="profile-container">
        <img
          *ngIf="!userProfile?.profileImage"
          src="assets/images/unknown.png"
          width="200px"
        />
        <img
          *ngIf="userProfile?.profileImage"
          src="{{ userProfile?.profileImage }}"
          width="200px"
        />
        
      <h3>
        {{ userProfile?.username }}
      </h3>
        <button  mat-stroked-button routerLink="/profile">Edit profile</button>
      </div>

    </div>

    <app-item-list-bar
      style="overflow: scroll;"
      *ngFor="let menuitem of finalMenu"
      [menuitem]="menuitem"
    ></app-item-list-bar>

    <div class="bottom-items">
      <mat-action-list>
        <button mat-list-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon> Log Out
        </button>
      </mat-action-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
