<h1>
  Album
</h1>

<mat-tab-group>
  <mat-tab label="All">
    <ng-template matTabContent>
      <br />
      <div class="album-grid">
        <app-album-item
          *ngFor="let album of albums"
          [album]="album"
          [routerLink]="['/album/detail', album?.id]"
        ></app-album-item>
      </div>

      <div *ngIf="albums.length === 0" class="message-info">
        No albums !
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Own">
    <ng-template matTabContent>
      <div style="text-align: right; overflow: hidden;">
        <br>
        <button mat-flat-button color="primary" routerLink="/album/new">
          <mat-icon>add</mat-icon>
          New
        </button>
      </div>

      <br />
      <div class="album-grid">
        <app-album-item
          *ngFor="let album of ownAlbums"
          [album]="album"
          [routerLink]="['/album/detail', album?.id]"
        ></app-album-item>
      </div>

      <div *ngIf="albums.length === 0" class="message-info">
        No albums !
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
