<h1>
  Home
</h1>

<hr />
<h1>PlayApp</h1>

<p>Basic App in charge of the CRUD of two entities.</p>
<ul>
  <li>Album</li>
  <li>Song</li>
</ul>
<h3>Tecnologies</h3>

<p>This app is served with Nginx in a ubuntu machine.</p>

<p>
  <b>Frontend:</b>
</p>
<ul>
  <li>
    Angular CLI
    <ul>
      <li>angular/material</li>
      <li>ngrx/store</li>
      <li>ngx-image-cropper</li>
      <li>ngx-ui-loader</li>
      <li>sweetalert2</li>
      <li>moment</li>
      <li>lodash</li>
      <li>SoundCloud Widget Api</li>
    </ul>
  </li>
  <li>Angular Material</li>
</ul>
<p>
  <b>BackEnd:</b>
</p>
<ul>
  <li>
    .Net Core
    <ul>
      <li>Entity Framework</li>
      <li>AutoMapper</li>
      <li>Cloudinary .Net</li>
    </ul>
  </li>
</ul>
<p>
  <b>Database:</b>
</p>
<ul>
  <li>Postgresql</li>
</ul>
<p>
  <b>Cloud:</b>
</p>
<ul>
  <li>Cloudinary (Images)</li>
</ul>
